.Login .background-img {
  background-position: 20% 0%;
  background-size: cover;
}

.Login .col-item {
  height: 800px;
  padding: 40px 60px;
}

.Login .rs-panel-title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
