.CampaignCard {
  padding-left: 22px;
  padding-right: 22px;
}

.CampaignCard .card-col {
  min-width: 280px;
}

.CampaignCard .campaign-img-thumbnail {
  height: 240px;
  background: rgba(255, 255, 255, 0.7);
}

.CampaignCard .rs-panel-heading {
  font-size: 12px !important;
  text-transform: uppercase;
  color: rgb(255, 169, 78) !important;
  padding: 0 !important;
  margin-bottom: 6px;
}

.CampaignCard .rs-panel-body {
  padding: 0 !important;
}

.CampaignCard .rs-panel-body h4 {
  font-weight: 400;
  font-size: 20px;
}

.CampaignCard .inside-panel {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
