.navbar-brand {
  position: relative;
  top: 22%;
  font-size: 22px;
  display: inline-block;
  padding: 0 18px;
  font-style: italic;
}

.navbar-brand:hover {
  text-decoration: none;
}

.rs-navbar {
  border-bottom: 1px solid rgb(49, 49, 49);
  padding: 6px 0;
}

.rs-navbar-header a,
.rs-navbar-body a {
  color: #fff !important;
}
