.Header .mobile {
  display: none;
}

.Header .navbar-brand {
  position: relative;
  top: 22%;
  font-size: 22px;
  display: inline-block;
  padding: 0 18px;
  font-style: italic;
}

.Header .navbar-brand:hover {
  text-decoration: none;
}

.Header .rs-navbar {
  border-bottom: 1px solid rgb(49, 49, 49);
  padding: 6px 0;
}

.Header .rs-navbar-header a,
.Header .rs-navbar-body a {
  color: #fff !important;
}

.rs-modal-content {
  background-color: rgb(26, 23, 23) !important;
}

.rs-modal-header-close {
  font-size: 14px !important;
  color: #fff !important;
}

.Header .dropdown-menu ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}

.Header a:hover {
  color: rgb(26, 23, 23) !important;
}

@media only screen and (max-width: 578px) {
  .Header .desktop {
    display: none;
  }

  .Header .mobile {
    display: block;
  }
}
