.rs-testing {
  background: rgba(13, 255, 13, 0.3);
  border-color: rgba(13, 255, 13, 1);
  padding: 20px;
}

.bg-dark-black {
  background-color: rgb(26, 23, 23) !important;
}

.border-radius-none {
  border-radius: none !important;
}

.rs-orange-btn {
  background-color: rgba(255, 125, 38, 0.3);
  border: 1px solid rgb(255, 125, 38);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-blue-btn {
  background-color: rgba(57, 153, 255, 0.3);
  border: 1px solid rgb(57, 153, 255);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-green-btn {
  background-color: rgba(44, 209, 58, 0.3);
  border: 1px solid rgb(44, 209, 58);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-btn-subtle:hover {
  background: none !important;
  color: #fff !important;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.mt-20 {
  margin-top: 20px;
}
