a:hover {
  text-decoration: none !important;
}

.rs-content {
  width: 1060px;
  /* width: 1280px; */
  margin: 0 auto;
}

@media only screen and (max-width: 1070px) {
  .rs-content {
    width: 100%;
  }
}

.rs-testing {
  background: rgba(13, 255, 13, 0.3);
  border-color: rgba(13, 255, 13, 1);
  padding: 20px;
}

.bg-dark-black,
.rs-dropdown-menu {
  background-color: rgb(26, 23, 23) !important;
}

.border-radius-none {
  border-radius: none !important;
}

.rs-nav-item-active {
  color: rgb(255, 125, 38) !important;
}

.rs-orange-btn-sm {
  background-color: rgba(255, 125, 38, 0.3);
  border: 1px solid rgb(255, 125, 38);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-red-btn-sm {
  background-color: rgba(255, 75, 65, 0.3);
  border: 1px solid rgb(255, 75, 65);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-blue-btn-sm {
  background-color: rgba(57, 153, 255, 0.3);
  border: 1px solid rgb(57, 153, 255);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-green-btn-lg {
  background-color: rgba(44, 209, 58, 0.3);
  border: 1px solid rgb(44, 209, 58);
  padding: 20px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.rs-orange-btn-lg {
  background-color: rgba(255, 125, 38, 0.3);
  border: 1px solid rgb(255, 125, 38);
  padding: 20px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.rs-red-btn-lg {
  background-color: rgba(255, 75, 65, 0.3);
  border: 1px solid rgb(255, 75, 65);
  padding: 20px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.rs-blue-btn-lg {
  background-color: rgba(57, 153, 255, 0.3);
  border: 1px solid rgb(57, 153, 255);
  padding: 20px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
}

.rs-green-btn-sm {
  background-color: rgba(44, 209, 58, 0.3);
  border: 1px solid rgb(44, 209, 58);
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

.rs-btn-subtle:hover {
  background: none !important;
  color: #fff !important;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.mt-20 {
  margin-top: 20px;
}
